/* LEFT SECTION (OPTIONS TAB) */
.left-section {
  display: flex;
  flex-direction: column;
  flex: 1 0 250px;
  padding: 30px 20px;
  background-color: #eee;
}

.left-section .left-section__rates {
  display: flex;
}
.left-section .left-section__rates div {
  flex-basis: 50%;
}

.left-section .left-section__rates div:nth-child(1) {
  margin-right: 15px;
}

.left-section .left-section__rates div input {
  width: 86%;
}

.left-section .left-section__buttons {
  display: flex;
}
.left-section .left-section__buttons button {
  width: 100%;
}

.left-section .left-section__buttons button:nth-child(1) {
  margin-right: 15px;
}

.left-section .left-section__speed-mode {
  margin-top: 32px;
}
.left-section .left-section__speed-mode label {
  font-size: 16px;
}
.left-section .left-section__speed-mode__input-btn-wrapper {
  display: flex;
  align-items: flex-start;
}
.left-section .left-section__speed-mode__input-btn-wrapper input {
  margin-right: 16px;
}
.left-section .left-section__speed-mode__input-btn-wrapper button {
  width: 100%;
}

/* MID SECTION (GAME+CHART) */
.mid-section {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.mid-section__game {
  display: flex;
  flex: 1 1 100%;
  max-height: 75vh;
  align-items: center;
  justify-content: center;
}
.mid-section__game__canvas {
  box-shadow: 0 0 5px #eee;
  margin: 15px;
}

.mid-section__chart {
  padding: 5px 10px;
  background-color: #eee;
  box-shadow: inset 0 0 5px 0px black;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 75vh;

  transition: 0.2s;
}
.mid-section__chart--big {
  top: 0;
}

.mid-section__chart .mid-section__chart__btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 16px;
  padding: 6px 8px;
}

.mid-section__chart .mid-section__chart__canvas {
  width: 100%;
  padding-bottom: 20px;
}

/* RIGHT SECTION (LOGS TAB) */
.right-section {
  display: flex;
  flex-direction: column;
  flex: 1 0 250px;
  padding: 10px;
  background-color: #eee;
}

.right-section .right-section__logs__body {
  overflow-y: scroll;
  margin-top: 4px;
}

.right-section .right-section__logs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.right-section .right-section__logs .right-section__logs__btn {
  font-size: 12px;
  margin: 0;
  padding: 6px 6px;
}

.right-section .right-section__logs__title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.right-section p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
}
